.todos {
  width: 100vw;
  height: calc(100vh - 100px);
  background-color: #1c1c21;
  padding-top: 20px;

  &__columns {
    display: grid;
    grid-template-columns: 1fr 4fr 4fr 3fr;
    justify-content: center;
    text-align: center;
    align-items: center;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    @media screen and (max-width: 1200px) {
      grid-template-columns: 1fr 4fr 2fr 3fr;
    }
    @media screen and (max-width: 800px) {
      display: none;
    }
  }
  &__filterBlock {
    display: flex;
    column-gap: 40px;
    @media screen and (max-width: 550px) {
      flex-direction: column;
      row-gap: 20px;
      text-align: center;
    }
  }
  &__filter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 40px 30px;
    @media screen and (max-width: 850px) {
      margin: 0 0 30px;
      flex-direction: column-reverse;
      row-gap: 30px;
      justify-content: center;
      align-items: center;
    }
  }
  &__buttons {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    @media screen and (max-width: 400px) {
      column-gap: 10px;
    }
  }
  &__button {
    width: 100px;
    height: 30px;
    font-weight: 500;
    font-size: 16px;
    background-color: #fff;
    border: none;
    border-radius: 10px;
    transition: opacity 0.2s linear;
    &:hover {
      opacity: 0.6;
      cursor: pointer;
    }
    @media screen and (max-width: 400px) {
      width: 80px;
    }
  }
  &__number {
    padding: 5px 0;
    border-right: 1px solid #fff;
  }
  &__name {
    padding: 5px 0;
    border-right: 1px solid #fff;
  }
  &__status {
    padding: 5px 0;
    border-right: 1px solid #fff;
  }
  &__addTodoButton {
    width: 250px;
    height: 40px;
    border: none;
    background: deepskyblue;
    border-radius: 10px;
    transition: opacity 0.2s linear;
    &:hover {
      opacity: 0.6;
      cursor: pointer;
    }
  }
}
