.login {
  width: 100vw;
  height: calc(100vh - 80px);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1c1c21;
  &__title {
    font-size: 36px;
    @media screen and (max-width: 499px) {
      font-size: 30px;
    }
  }
  &__inputs {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }
  &__input {
    height: 30px;
    width: 400px;
    padding: 10px;
    border-radius: 20px;
    @media screen and (max-width: 499px) {
      width: 300px;
    }
  }
  &__block {
    width: 600px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 50px;
    padding-bottom: 200px;
  }
  &__button {
    background-color: blue;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 20px;
    width: 150px;
    height: 50px;
    color: #fff;
    font-weight: 500;
    font-size: 18px;
    transition: opacity 0.2s linear;
    &:hover {
      opacity: 0.6;
      cursor: pointer;
    }
    &:disabled {
      background-color: grey;
      &:hover {
        opacity: 1;
        cursor: auto;
      }
    }
  }
  &__validate {
    color: red;
    font-weight: 500;
    font-size: 16px;
    margin-top: 5px;
  }
}
